@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=JetBrains+Mono&display=swap');

pre {
}

pre > code {
  font-family: 'JetBrains Mono';
  background-color: transparent !important;
}

.bg-gradient-1 {
  background-color: #99f1ff;
  background-image: radial-gradient(
      at 76% 57%,
      hsla(113, 89%, 61%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 58% 43%, hsla(232, 97%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 86% 87%, hsla(353, 86%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 6% 21%, hsla(192, 81%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 36% 99%, hsla(203, 62%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 37% 3%, hsla(39, 76%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 16%, hsla(244, 64%, 73%, 1) 0px, transparent 50%);
}

.root {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.code {
  padding: 0 30px;
  background-color: rgba(255, 255, 255, 50%);
  width: 100%;
  border-radius: 1em;
}

.watermark {
  margin-top: 0.5em;
  opacity: 50%;
  display: flex;
  gap: 0.4em;
  font-family: Inter;
}

.watermark a {
  display: inline-flex;
  font-weight: 600;
  gap: 0.2em;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.watermark svg {
  display: block;
  vertical-align: middle;
  flex-shrink: 0;
  width: 1.2em;
  height: 1.2em;
}
