pre {
  padding: 0 1em;
  overflow: auto;
}

pre > code {
  font-family: 'GeistMono';
  background-color: transparent !important;
}

.root {
  padding: 1em 1em;
  justify-content: center;
  align-items: center;
}

.root.light .code {
  background-color: rgba(255, 255, 255, 60%);
}

.root.dark .code {
  background-color: rgba(0, 0, 0, 60%);
}

.code-wrapper {
  width: min(50em, 100%);
  overflow: hidden;
  display: flex;
}

.code {
  width: 100%;
  border-radius: 0.75em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.watermark {
  font-size: 1.1em;
  margin-top: 0.5em;
  opacity: 50%;
  display: flex;
  font-family: Geist;
}

.watermark code {
  font-family: 'GeistMono';
}

.root.light .watermark {
  color: black;
  filter: drop-shadow(0 0 2px #fff);
}

.root.dark .watermark {
  color: white;
  filter: drop-shadow(0 0 2px #222);
}

.watermark a {
  display: inline-flex;
  font-weight: 600;
  gap: 0.2em;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.watermark svg {
  display: block;
  vertical-align: middle;
  flex-shrink: 0;
  width: 1.2em;
  height: 1.2em;
}

.watermark strong {
  font-weight: 600;
}

.root.dark .window-buttons {
  background-color: rgba(255, 255, 255, 5%);
}
.root.light .window-buttons {
  background-color: rgba(255, 255, 255, 40%);
}

.window-buttons {
  padding: 0.5em 1em;
  background-color: rgba(255, 255, 255, 5%);
}

.window-buttons svg {
  width: 3em;
  height: 0.75em;
}
